{% extends "navbar.html" %}

{% block content %}
  <div class="col-xs-offset-3 col-xs-6">
    <h1>New Category</h1>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <label>{{ field.label }}</label>
            {{ field }}
        <span style="color:red;">{{ field.errors.0 }}</span>
        {% endfor %}
        <button type="submit" class="btn btn-primary">
            <i class="fa fa-floppy-o fa-lg" aria-hidden="true"></i> Add
        </button>
    </form>
  </div>
{% endblock %}