{% extends "navbar.html" %}

{% block content %}
<div class="col-xs-offset-3 col-xs-6">
    {% for post in post_list%}
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="post/{{post.pk}}" style="color:gray;font-size:25px;">
                <span class="glyphicon glyphicon-list" aria-hidden="true" style="font-size:20px;"></span> {{post.title}}
            </a>
            <span class="glyphicon glyphicon-time" aria-hidden="true" style="margin-left:20px;"></span> {{ post.created_time }}
            <div style="color: orange;">
                {% for i in ''|rjust:post.views %}
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                {% endfor %}
                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
            </div>
        </div>
        <div class="panel-body">
            {{post.excerpt}}
            <br/><br/>
            <a href="post/update/{{post.pk}}" class="btn btn-primary btn-xs">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Update
            </a>
            <a href="post/delete/{{post.pk}}" class="btn btn-danger btn-xs">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Remove
            </a>
        </div>
    </div>
    {% endfor %}

    <nav aria-label="Page navigation">
        <footer class="navbar-fixed-bottom">
            <div class="text-center">
            <ul class="pagination">
            {% if not is_paginated %}
                <li class="active"><a href="?page=1">1</a></li>
            {% endif %}
            {% if is_paginated %}
                {% if page_obj.has_previous %}
                    <li>
                        <a href="?page={{page_obj.previous_page_number}}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}
                {% if first %}
                    <li><a href="?page=1">1</a></li>
                {% endif %}
                {% if left %}
                    {% if left_has_more %}
                        <li><a href="#">...</a></li>
                    {% endif %}
                    {% for i in left %}
                        <li><a href="?page={{i}}">{{i}}</a></li>
                    {% endfor %}
                {% endif %}
                <li class="active"><a href="?page={{page_obj.number}}">{{page_obj.number}}</a></li>
                {% if right %}
                    {% for i in right %}
                        <li><a href="?page={{i}}">{{i}}</a></li>
                    {% endfor %}
                    {% if right_has_more %}
                        <li><a href="#">...</a></li>
                    {% endif %}
                {% endif %}
                {% if last %}
                    <li><a href="?page={{paginator.num_pages}}">{{paginator.num_pages}}</a></li>
                {% endif %}
                {% if page_obj.has_next %}
                    <li>
                        <a href="?page={{page_obj.next_page_number}}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            {% endif %}
        </ul>
        </div>
        </footer>

    </nav>
</div>
<div class="col-xs-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="/" style="color:gray;font-size:25px;">
                <span class="glyphicon glyphicon-list" aria-hidden="true" style="font-size:20px;"></span> recommend
            </a>
        </div>
        <div class="panel-body">
            Recommend contents...
        </div>
    </div>
</div>
{% endblock %}

