{% extends "navbar.html" %}

{% block content %}
<div class="col-xs-offset-3 col-xs-6">
    <h1>{{post.title}}</h1>
<!--    <p>{{post.body}}</p>-->
    {{post.body|safe}}
    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  delete
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Warning</h4>
      </div>
      <div class="modal-body">
        Are you sure that you want to delete this article?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Delete Anyway</button>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
